@mixin heading{
     font-family: 'Space Grotesk';
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     color: #001F3F;
}
@mixin headings{
     font-family: 'Space Grotesk';
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     color: #001F3F;
}
@mixin peras{
     font-family: 'Space Grotesk';
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #435970;
}
// 
.blog-details{
     // margin-top: 109px;
     margin: 109px;
     
     
.left-bar{
          width: 370px ;
          margin: 0 auto;
     .left-content{
               width: 370px;
               margin: 0 auto;
          .search-div{
                    width: 370px;
                    height: 60px;
                    border-radius: 5px;
                    padding: 10px 20px;
                    background: #FAFAFF;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input{
                         border: none;
                         outline: none;
                         background: transparent;
                         &::placeholder{
                              font-family: 'Space Grotesk';
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 26px;
                              color: #435970;
                         }
                    }
          }
          .category{
                    margin-top: 30px;
                    background: #FAFAFF;
                    padding: 10px 30px;
                    width: 370px;
                    .category-h3{
                         @include heading;
                         padding: 10px 20px;
                    }
                    ul li{
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         gap: 30px;
                         border-top: 1px solid #001F3F;
                         border-bottom: 1px solid #001F3F;
                         margin: 10px 0;
                         padding: 0 10px;
                         height: 50px;
                         transition: all 0.4s ease-in-out;
                         a{
                              font-family: 'Space Grotesk';
                              font-weight: 700;
                              font-size: 15px;
                              line-height: 20px;
                              color: #001F3F;
                              transition: all 0.4s ease-in-out;
                              display: flex;
                              align-items: center;
                              gap: 5px;
                         }
                         &:hover{
                              background: #FF5A30;
                              color: #FAFAFF;
                              border: none;
                              &:hover a{
                                   color: #FAFAFF;
                              }
                         }
                        
                        }
          }
          .recent-post{
               margin-top: 30px;
               padding: 10px 0;
               background: #FAFAFF;
               .recent-h3{
                    @include heading;
                    padding: 10px 0;
               }
               .box{
                    display: flex;
                    gap: 10px;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.4s ease-in-out;
                    .text{
                         .date{
                              font-family: 'Space Grotesk';
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 26px;
                              color: #001F3F;
                         }
                         .list{
                              font-family: 'Space Grotesk';
                              font-weight: 400;
                              font-size: 16px;
                              line-height: 26px;
                              color: #001F3F;
                         }
                    }
                    .blog-icon{
                         display: none;
                         position: absolute;
                         top:30px;
                         left: 3%;
                         transition: all 0.4s ease-in-out;
                         .c-icon{
                              padding: 15px 25px;
                              text-decoration: none;
                              width: 30px ;
                              height: 30px;
                              border-radius: 50%;
                              background: #001F3F;
                              position: relative;
                              
                              i{
                                   position: absolute;
                                   top: 38%;
                                   left: 38%;
                                   color: #fff;
                                   transform: rotate(-60deg);
                              }
                              &:hover{
                                   background: transparent;
                                   border:1px solid #FFF;
                                   &:hover i{
                                        color: #FFf;
                                   }
                         
                              }
                             }
                    }
                    &:hover .blog-icon{
                         display: block;
                    }
                    &:hover .date{
                         color: #FF5A30;
                    }
               }
               
          }
          .hr{
               width: 100%;
               height: 1px ;
               color: #435970;
          }
          .tag-post{
               margin-top: 30px;
               background: #FAFAFF;
               .tag-h3{
                    @include heading;
                    padding: 10px 20px;
               }
               .tag-content{
                    display:grid;
                    grid-template-columns: repeat(3,auto);
                    grid-gap: 10px;
                    padding: 20px 15px;
                     
                    button{
                         background: #FFFFFF;
                         border-radius: 5px;
                         outline: none;
                         border: none;
                         height: 50px;
                         transition: all 0.4s ease-in-out;
                         a{
                         font-family: 'Space Grotesk';
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 20px;
                         color: #001F3F;
                         padding: 10px 20px;
                         transition: all 0.4s ease-in-out;
                         }
                         &:hover{
                              background: #FF5A30;
                              
                         }
                         &:hover a{
                              color: #FFF;
                         }
                         &:first-child{
                              background: #FF5A30;
                              a{
                                   color: #FFF;
                              }
                         }
                    }
               }
          }
          .need-contraction{
               cursor: pointer;
               margin-top: 30px;
               position: relative;
               .content{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 370px;
                    height: 290px;
                    background: linear-gradient(90deg, #001F3F 0%, rgba(0, 31, 63, 0) 100%);
                    border-radius: 5px;
                   
                    h3{
                         width: 158px;
                         height: 80px;
                         font-family: 'Space Grotesk';
                         font-weight: 700;
                         font-size: 30px;
                         line-height: 40px;
                         color: #FFFFFF;
                         margin-top: 30%;
                         margin-left: 15%;
                    }
                    .contact{
                         display: flex;
                         align-items: center;
                         gap: 10px;
                         padding: 10px 40px;
                         h4{
                              font-family: 'Space Grotesk';
                              font-style: normal;
                              font-weight: 700;
                              font-size: 15px;
                              line-height: 20px;
                              color: #FFFFFF;
                         }
                         .blog-icon{
                              width: 30px;
                              height: 30px;
                              border-radius: 50px;
                              background: #FAFAFF;
                              position: relative;
                              i{
                                   position: absolute;
                                   top: 8px;
                                   left: 8px;
                              }
                         }
                    }
                   
               }
          }
     }
         
         
}
     .right-bar{
          // border: 1px solid orange;
          height: 1000px;
         
          // height: 100vh;
          .right-1st-img{
               position: relative;
               .right-img{
                    width: 100%;
               }
          }
          .feBs{
               position: absolute;
               top: 218%;
               left: 85%;
               width: 50px;
               clip-path: polygon(73% 0, 100% 25%, 98% 100%, 50% 100%, 0 100%, 0 0);
               background: #001F3F;
               border-radius: 5px;
               
          .feb{
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 20px;
                    color: #FFFFFF;
                    margin-left: 10px;
                     
          }
          .twenty{
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin-left: 10px;
          }
          &:hover{
               background: #FF5A30;
          }
          }
          .top-h{
               .name{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px 0;
                    h3{
                         font-family: 'Space Grotesk';
                         font-weight: 400;
                         font-size: 16px;
                         line-height: 26px;
                         color: #001F3F;
                    }
               }
          }
          // content
          .content-details{
               .head-line{
                    @include headings;
               }
               .pera{
                    @include peras;
               }
               .blog-1{
                    padding: 15px 0;
               }
               .blog-2{
                    margin-top: 10px;
               }
               .comment{
                    height: 226px;
                    border-radius: 5px;
                    text-align: center;
                    border: 1px solid red;
                     padding: 20px 0;
                    .pera{
                    @include peras;
                    text-align: center;
                    padding: 20px 30px;
                    }
                    .commenter{
                         font-family: 'Space Grotesk';
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 20px;
                         text-align: center;
                         color: #001F3F;
                    }
               }
               .rounded-runner{
                    margin-top: 30px;
                    .head-line{
                         @include heading;
                    }
                    .pera{
                         @include peras;
                    }
               }
               .material{
                    margin-top: 30px;
                    .secnd-img{
                          padding: 30px 0;
                    }
                    .facility{
                         display: grid;
                         grid-template-columns: repeat(2,1fr);
                         li{
                              list-style-type: circle;
                              font-family: 'Space Grotesk';
                              font-weight: 700;
                              font-size: 15px;
                              line-height: 20px;
                              color: #001F3F;
                              padding: 10px 0;
                              transition: all 0.4s ease-in-out;
                              &:hover{
                                   color: #FF5A30;
                              }
                         }
                    }
               }
               .tag-content{
                    display:flex;
                    gap: 10px;
                    padding: 20px 15px;
                    border-top: 1px solid #435970;
                    border-bottom: 1px solid #435970;
                     
                    button{
                         background: #FFFFFF;
                         border-radius: 5px;
                         outline: none;
                         border: none;
                         width: 100px;
                         height: 50px;
                         transition: all 0.4s ease-in-out;
                         a{
                         font-family: 'Space Grotesk';
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 20px;
                         color: #001F3F;
                         // padding: 10px 20px;
                         transition: all 0.4s ease-in-out;
                         }
                         &:hover{
                              background: #FF5A30;
                              
                         }
                         &:hover a{
                              color: #FFF;
                         }
                        
                    }
               }
               .post{
                    margin-top: 30px;
                    display: flex;
                    gap: 30px;
                    // justify-content: space-between;
                    .left-p{
                         width: 370px;
                         padding: 10px 15px;
                         border-radius: 10px;
                         border: 1px solid red;
                         .prev{
                              font-family: 'Inter';
                              font-weight: 400;
                              font-size: 15px;
                              line-height: 25px;
                              color: #001F3F;
                         }
                         .sub-h{
                              font-family: 'Sora';
                              font-weight: 600;
                              font-size: 15px;
                              line-height: 25px;
                              color: #001F3F;
                              transition: all 0.4s ease-in-out;
                              &:hover{
                                   color: #FF5A30;
                              }
                         }
                    }
                    .right-p{
                         width: 370px;
                         border: 1px solid gray;
                         padding: 10px 15px;
                         text-align: end;
                         .prev{
                              font-family: 'Inter';
                              font-weight: 400;
                              font-size: 15px;
                              line-height: 25px;
                              color: #001F3F;
                         }
                         .sub-h{
                              font-family: 'Sora';
                              font-weight: 600;
                              font-size: 15px;
                              line-height: 25px;
                              color: #001F3F;
                              transition: all 0.4s ease-in-out;
                              &:hover{
                                   color: #FF5A30;
                              }
                         }
                    }
               }
               
          }
          
          
     }
}

